services:
  mongodb-container:
    image: ecommerce-mongodb:latest
    build: 
      context: /mongodb
      dockerfile: /Dockerfile
    ports:
      - "27017:27017"
    networks:
      - orders-mongodb-network
  
  mysql-container:
    image: ecommerce-mysql:latest
    build: 
     context: /mysql
     dockerfile: /Dockerfile
    environment:
    - MYSQL_ROOT_PASSWORD=mysql
    - MYSQL_DATABASE=products_db
    - MYSQL_USER=mysql
    - MYSQL_PASSWORD=mysql
    ports:
    - "3306:3306"
    networks:
    - products-mysql-network

  postgres-container:
    image: ecommerce-postgres:latest
    build: 
      context: /postgres
      dockerfile: /Dockerfile
    environment:
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=postgres
    - POSTGRES_DB=users_db
    ports:
      - "5432:5432"
    networks:
      - users-postgres-network

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - ecommerce-network

  rabbitmq:
    image: rabbitmq:3.8-management
    ports:
     - "5672:5672"
     - "15672:15672"
    networks:
     - ecommerce-network

  apigateway:
    image: apigateway:latest
    build:
      context: /eCommerce.OrdersService
      dockerfile: ApiGateway/Dockerfile
    ports:
     - "5000:8080"
    networks:
     - ecommerce-network
    depends_on:
     - orders-microservice
     - products-microservice
     - users-microservice

  users-microservice:
    image: users-microservice:latest
    build: 
      context: /eCommerce.UsersService
      dockerfile: /eCommerce.API/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - POSTGRES_HOST=postgres-container
      - POSTGRES_PORT=5432
      - POSTGRES_DATABASE=users_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - RabbitMQ_HostName=rabbitmq
      - RabbitMQ_Port=5672
      - RabbitMQ_UserName=guest
      - RabbitMQ_Password=guest
      - RabbitMQ_Users_Exchange=users.exchange
    networks:
    - users-postgres-network
    - ecommerce-network
    depends_on: 
    - postgres-container

  products-microservice:
    image: products-microservice:latest
    build: 
      context: /eCommerce.ProductsService
      dockerfile: /ProductsService.API/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - MYSQL_HOST=mysql-container
      - MYSQL_PASSWORD=mysql
      - MYSQL_USER=mysql
      - MYSQL_DATABASE=products_db
      - MYSQL_PORT=3306
      - RabbitMQ__HostName=rabbitmq-container
      - RabbitMQ__Port=5672
      - RabbitMQ__VirtualHost=/
      - RabbitMQ__UserName=guest
      - RabbitMQ__Password=guest
      - RabbitMQ__Exchange=products.exchange
      - RabbitMQ__ExchangeType=topic
      - RabbitMQ__RoutingKey=product.name.updated
      - RabbitMqPublisher__Routes__ProductNameUpdated=product.name.updated
      - RabbitMqPublisher__Routes__ProductDeleted=product.deleted
    networks:
      - products-mysql-network
      - ecommerce-network
    depends_on: 
      - mysql-container

  orders-microservice:
    image: orders-microservice:latest
    build: 
      context: /eCommerce.OrdersService
      dockerfile: /OrdersService.API/Dockerfile
    environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - MONGO_HOST=mongodb-container
    - MONGO_PORT=27017
    - MONGO_DATABASE=OrdersDatabase
    - UsersMicroserviceName=api-gateway
    - UsersMicroservicePort=8080
    - ProductsMicroserviceName=api-gateway
    - ProductsMicroservicePort=8080
    - REDIS_HOST=redis-container
    - REDIS_PORT=6379

    - RabbitMQ__HostName=rabbitmq-container
    - RabbitMQ__Port=5672
    - RabbitMQ__VirtualHost=/
    - RabbitMQ__UserName=guest
    - RabbitMQ__Password=guest

    - RabbitMQ__Exchange=products.exchange
    - RabbitMQ__ExchangeType=topic

    - RabbitMqConsumer__Queues__0__Queue=orders.product-name-updated
    - RabbitMqConsumer__Queues__0__RoutingKey=product.#
    - RabbitMqConsumer__Queues__1__Queue=orders.product-deleted
    - RabbitMqConsumer__Queues__1__RoutingKey=product.deleted
    networks:
     - orders-mongodb-network
     - ecommerce-network
    depends_on: 
     - mongodb-container
     - rabbitmq
     - redis

networks:
  ecommerce-network:
    driver: bridge
  users-postgres-network:
    driver: bridge
  products-mysql-network:
    driver: bridge
  orders-mongodb-network:
    driver: bridge